body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.background {
  width: 100%;
  height: 600px;
  /* background-color: red; */
  background-image: url(Assets/images/eid_ul_adha.jpg) !important;
  background-repeat: no-repeat;
  /* object-fit: contain; */
  background-position: center;
  /* background-size: 100%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
}
.check {
  background-color: red;
}
.white_background {
  width: 65%;
  /* height: 800px; */
  /* background-color: white !important; */
  font-size: 30px;
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* z-index: 2; */
  position: absolute;
  top: 30px;
}
h3 {
  background-color: red;
  border: 2px solid black;
  color: white;
  text-align: center;
}
/* .background img{
    width: 100%;
    height: 100vh;
    object-fit: cover;  
} */
@media only screen and (max-width: 420px) {
  .white_background {
    font-size: 22px;
  }
}
@media only screen and (max-width: 353px) {
  .white_background {
    font-size: 20px;
  }
}
@media only screen and (max-width: 314px) {
  .white_background {
    font-size: 15px;
  }
}
input {
  width: 75px;
  height: 75px;
  background-color: white;
  opacity: 0.4;
  border: 0px;
  border-radius: 100px;
  margin-left: 15px;
  text-align: center;
  font-size: 18px;
  color: black;
}
input:focus {
  border: none;
  outline: none;
}
.calculation {
  height: 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
